body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #432222;
    margin: 0;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    background-color: #00603a;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #00ab50;
}

#next-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

#next-btn:hover {
    background-color: #218838;
}

.correct {
    background-color: #28a745; /* Green for correct answers */
}

.incorrect {
    background-color: #dc3545; /* Red for incorrect answers */
}